# Compiled class file
*.class

# Logs
*.log

# Gradle
.gradle/
/build/

# IDE
.idea/
*.iml

# Package files
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar

# OS files
.DS_Store

# JVM crash logs
hs_err_pid*
replay_pid*
