# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE (IntelliJ, VS Code, STS, etc.)
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
bin/
out/

# Logs
*.log

# Compiled files
*.class

# Package files
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar

# OS files
.DS_Store

# JVM crash logs
hs_err_pid*
replay_pid*